
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Doctor Registration</title>

    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          rel="stylesheet"/>
</head>
<body>

<div align="center">

    <h1>Register Doctor</h1>
    <hr/>

    <form method="POST" th:action="@{/save-doctors}" th:object="${doctor}">

        <input class="form-control col-3 mb-4" placeholder="Enter Visit Date" field="*{fullName}" type="text"/>

        <input class="form-control col-3 mb-4" placeholder="Enter Diagnosis" field="*{birthDate}" type="text"/>

        <label class="form-control col-3 mb-2">Gender?
            <input field="*{gender}" type="checkbox" value="Male"/>Male
            <input field="*{gender}" type="checkbox" value="Female"/>Female
        </label>

        <input class="form-control col-3 mb-4" placeholder="Enter Address" field="*{address}" type="text"/>

        <input class="form-control col-3 mb-4" placeholder="Enter Phone Number" field="*{phone}" type="text"/>

        <input class="form-control col-3 mb-4" placeholder="Enter Username" field="*{username}" type="text"/>

        <input class="form-control col-3 mb-4" placeholder="Enter Password" field="*{password}" type="text"/>


        <button class="btn btn-primary col-2" type="submit">Save</button>
        <input field="*{Id}" type="hidden"/>

    </form>
    <hr/>
    <a th:href="@{/add-doctor}">List of Doctors</a>
</div>

</body>
</html>