<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin Dashboard</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <!-- <link th:href="@{img/favicon.png}" rel="icon">-->
    <link th:href="@{img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{css/style2.css}" rel="stylesheet">

</head>

<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Path</th>
        <th scope="col">Error</th>
        <th scope="col">Message</th>
        <th scope="col">Exception</th>
        <th scope="col">Trace</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" th:text="${timestamp}"></th>
        <td th:text="${path}"></td>
        <td th:text="${error}"></td>
        <td th:text="${message}"></td>
        <td th:text="${exception}"></td>
        <td th:text="${trace}"></td>
    </tr>

    </tbody>
</table>
</body>

</html>